
body{
  margin:2vh;
}

#flipbook {
  /* width: 100vh;  */
  height: 92vh;

 
  /* margin: 10% 20%; 一番左端だとたまに見切れるので適当に移動 */
}

.media{
  height:10vh;
}
.userdata{
  font-size:3vh;
}
.usercomment{
  font-size:4vh;
}
.mr-3{
  width:10vh;
  height: 10vh;
}


#message{
  border: 1.6px solid #0a0;  /* 枠線 */
  background-color:transparent;
}
.list-group-item{
  background-color:transparent;
  /* height: 8vh; */
}

.hard { 
  background: linear-gradient(#ccc 1px, transparent 1px) #fffbf2;
} 