div {
  color: white; /* 文字色を白色に */
}

.odd {
  background-color: rgb(163, 101, 8);/* 奇数ページを青色に */
}
.even {
  background-color: rgb(99, 100, 1);/* 偶数ページを緑色に */
}

#flipbook {
  /* width: 100vh;  */
  height: 95vh
  /* margin: 10% 20%; 一番左端だとたまに見切れるので適当に移動 */
}