<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>jqueryのajaxのサンプル</title>

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/chat.css">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/turn.js"></script>
    <script src="../js/chat.js"></script>

</head>

<body>

    <div id="flipbook">
        <div class="hard">
            <h1>１ページ目</h1>
            <ul class="list-group-flush">

                <li class="list-group-item">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="media">
                                    <img class="mr-3" src="../image/0.png" width="60" height="60">

                                    <div class="media-body">
                                        <div class="userdata">大谷翔平</div>
                                        <div class="usercomment">にとうりゅう</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="list-group-item">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="media">
                                    <img class="mr-3" src="../image/0.png" width="60" height="60">

                                    <div class="media-body">
                                        <div class="userdata">大谷翔平</div>
                                        <div class="usercomment">にとうりゅう</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <li class="list-group-item">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="media">
                                    <img class="mr-3" src="../image/0.png" width="60" height="60">

                                    <div class="media-body">
                                        <div class="userdata">大谷翔平</div>
                                        <div class="usercomment">にとうりゅう</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <li class="list-group-item">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="media">
                                    <img class="mr-3" src="../image/0.png" width="60" height="60">

                                    <div class="media-body">
                                        <div class="userdata">大谷翔平</div>
                                        <div class="usercomment">にとうりゅう</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <li class="list-group-item">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="media">
                                    <img class="mr-3" src="../image/0.png" width="60" height="60">

                                    <div class="media-body">
                                        <div class="userdata">大谷翔平</div>
                                        <div class="usercomment">にとうりゅう</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="list-group-item">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="media">
                                    <img class="mr-3" src="../image/0.png" width="60" height="60">

                                    <div class="media-body">
                                        <div class="userdata">大谷翔平</div>
                                        <div class="usercomment">にとうりゅう</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="list-group-item">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="media">
                                    <img class="mr-3" src="../image/0.png" width="35vh" height="35vh">

                                    <div class="media-body">
                                        <div class="userdata">大谷翔平</div>
                                        <div class="usercomment">にとうりゅう</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>

                <li class="list-group-item">
                    <div class="container">
                        <div class="row" id="userwrite">
                            <div class="col-9">
                                <input class="form-control form-control-lg " type="text" id="message"
                                    placeholder="Write memories in notebook">
                            </div>
                            <div class="col-1">
                                <input type="button" id="send" class="btn btn-outline-dark btn-lg  " value=" Write">
                            </div>
                        </div>
                    </div>
                </li>



            </ul>





        </div>



        <div class="hard">
            <h1>２ページ目</h1>
            <ul class="list-group-flush ">
                <li class="list-group-item">リスト項目1</li>
                <li class="list-group-item">リスト項目2</li>
                <li class="list-group-item">リスト項目3</li>



            </ul>


        </div>
        <div class="hard">
            <h1>３ページ目</h1>
            <ul class="list-group-flush ">
                <li class="list-group-item">リスト項目1</li>
                <li class="list-group-item">リスト項目2</li>
                <li class="list-group-item">リスト項目3</li>



            </ul>

        </div>
        <div class="hard">せんが</div>
        <div class="hard">おおたに</div>


    </div>
    ​
</body>

</html>