<!DOCTYPE html>
<html>
<!-- HEAD -->

<head>
    <meta charset="UTF-8">
    <title>Jcoral練習用webアプリ・スレッド編</title>
    <!-- 端末ごとのサイズに応じて表示 -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="chat.css">
</head>

<!-- Body -->

<body>
    <!-- タイトル・コメント表示 -->
    <h1 id="surename">スレッド名（取得必要）</h1>


    <!-- 一つのコメント -->
    <!-- <div id="userinfo">
        <img>
        <img id="image" align="middle" width="40" height="40" alt="プロ画">
        <span id="name"></span>
        <span id="time"></span>
        <span id="id"></span>
    </div>

    <div id="text"></div> -->







    <script src="../js/chat.js" charset="text/javascript"></script>
</body>

</html>