<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>jqueryのajaxのサンプル</title>

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/chat.css">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/turn.js"></script>
    <script src="../js/chat.js"></script>

</head>

<body>

    <div id="flipbook">

        <div class="container hard">
            <p>一ページ目</p>
            <div class="row" id="userwrite">
                <div class="col-9">
                    <input class="form-control form-control-lg" type="text" id="message" placeholder="form-control-sm">
                </div>
                <div class="col-1">
                    <input type="button" id="send" value="書き込む">
                </div>
            </div>
        </div>


        <div class="hard">page3
            <p id="flute">フルート</p>
            <div id="main">
                <p>ヴァイオリン</p>
                <p>ヴィオラ</p>
                <p>チェロ</p>
            </div>
            <p id="piano">ピアノ</p>
        </div>
        <div class="hard">page4</div>
        <div class="hard">page5</div>
        <div class="hard">page6</div>

    </div>
    ​
</body>

</html>